body {
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    color:white;
    line-height: 1.5;
    min-width: 1280px;
    width: 100%;
    height: 5694px;
    /* background-image: url("./img/img_bg.jpg");  */
    background-size: cover;
    background-repeat: no-repeat;
}
body p{
    margin: 8px  0 24px;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
a :hover{
    opacity: 0.7;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.page-header,
.page-hero,
.page-content,
.page-footer {
    min-width: 1280px;
    width: 100%;
}


.page-header {
    position: fixed;
    z-index: 10;
    /*レイヤーの重なり具合*/
    top: 0;
    left: 0;
    padding: 24px 0;
    background: linear-gradient(to right, rgba(255, 69, 236, 0.5), rgba(207, 184, 255, 0.5), rgba(94, 232, 248, 0.5));
}

.page-header__inner,
.page-content__inner {
    box-sizing: content-box;
}

.page-header__inner {
    display: flex;
    justify-content: flex-end;
    
    margin-right: 240px;
}
.menu-list{
    font-family: 'Train One', cursive;
    font-size: 24px;
    display: flex;
    max-width: 420px;
}
.menu-list__item{
    margin: 0 12px;
}

.page-hero {
    background-image: url("./img/img_hero.jpg");
    height: 1108px;
    min-width: 1280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    align-items: center;
    display: flex;
}
.name {
    height: 97px;
    max-width: 517px;
    margin: 0 auto;
}

.page-block{
    margin: 0 auto ;
}
#Interactive {
    background-image: url("./img/img_web_bg.png");
    height: 1168px;
    min-width: 1280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 0 ;
    /*上との余白*/
    
}
.page-heading {
    text-align: center;
    max-width: 234px;
    margin: 0px auto 48px;
    /* テキスト真ん中に、下との余白 */
}
.Interactive-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 896px;
    margin: 0 auto;
}
.Interactive-list__item{
    max-width: 432px;
    text-align: center;
}

#movie{
    background-image: url("./img/img_movie_bg.jpg");
    height: 1229px;
    min-width: 1280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 48px 0 ;
    /*上との余白*/
}
.movie-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 896px;
    margin: 0 auto;
}
.movie-list__item{
    max-width: 896px;
    text-align: center;
    font-size: 20px;
    margin:0 auto;
}
.movie-list__item img{
  height: 449px;
}

#others {
    background-image: url("./img/img_ot_bg.jpg");
    height: 1104px;
    min-width: 1280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0 ;
    /*上下との余白*/
    
}
.others-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 896px;
    margin: 0 auto;
}
.others-list__item{
    max-width: 420px;
    text-align: center;
}

#about {
    background-image: url("./img/img_about_bg.jpg");
    height: 1085px;
    min-width: 1280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 119px 129px 0;
    /*上下との余白*/
    
}
.page-heading__ab{
    text-align: center;
    max-width: 234px;
    margin: 0px auto 56px;
}
.about__name{
    max-width: 620px;
    margin: 0 auto;
    font-size: 36px;
}

.about-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 620px;
    margin: 40px auto 0;
}
.about-list img{
    width: 288px;
    height: 33px;
    margin: 0 0 24px 0;
}

.about-list__item{
    max-width: 420px;
}
.about-list__item p{
    margin: 0 0 16px  0;
    font-size: 24px;
    
}

.about_memo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 620px;
    margin: 40px auto 40px;
    font-size: 24px;
}
.about_soda{
    width: 70px;
    align-self: center;
}


button{
  font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    color: white;
    background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}
button :hover{
    opacity: 0.7;
}
 /* モーダル */
.modal-overlay {
  align-items: center;
  background: rgba(29, 23, 23, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.modal-container {
  background-color: #fff;
  max-height: 80vh;
  max-width: 500px;
  overflow-y: auto;
  padding: 30px;
  width: 80%;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal-close {
  background: transparent;
  border: 0;
  margin: 0 10px;
}

.modal-header .modal-close::before {
  content: "\2715";
}

.modal-content {
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}
.modal-content img{
  width: 600px;
}

.modal-open {
  display: block;
  /* margin: 100px auto; */
}


/* モーダルアニメーション */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}

 /* @media all and (max-width: 1455px) {

    .page-content{
        width: 92%;
    }
    .web-list,.price-list{
        flex-direction: column;
        height: 100%;
    }
    .web-list__item{
        margin: 0 auto 48px;
    }
    .web-list__item h3{
        margin-top: 16px;
    }

    .price-list__inner{
        max-width: 100%;
    }

    .company-column{
        flex-direction: column-reverse;
        height: 100%;
    }

    .company-map iframe{
        width: 100%;
    }
    .global-nav{
        display: none;
    }
 } */
